body {
  background-color: #606060;
  color: #fff;
}

.App {
  text-align: center;
}

ul {
  list-style: none;
  max-width: 700px;
  margin: auto;
}

li {
  padding: 10px;
  background-color: #363636;
  margin: 5px;
}
